html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    color: #ffffff;
    line-height: 1.6;
}

header {
    background-color: rgba(0, 0, 0, 0.95);
    border-bottom: 3px solid #2a9fdc;
    backdrop-filter: blur(4px);
}

.header-content {
    max-width: 70%;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

header img.logo {
    max-width: 100px;
    height: auto;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    font-size: 1.125rem;
}

.nav-menu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #2a9fdc;
    text-decoration: none;
}

.social-icons-header {
    display: flex;
    gap: 1rem;
}
.social-icons-header a img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease;
}

.registration-button a {
  display: inline-block;
  background-color: #2a9fdc;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.registration-button a:hover {
  background-color: #207daf;
  text-decoration: none;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav-menu {
        justify-content: center;
        gap: 1.5rem;
        font-size: 1rem;
    }
    
    .registration-button {
        margin-top: 1rem;
    }

    .registration-button a {
        padding: 0.75rem 2rem;
        font-size: 1.1rem;
    }
}


.section {
    max-width: 70%;
    margin: 0 auto;
    padding: 0rem 2rem;
    /* background-color: rgba(20, 20, 20, 0.85); */
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.section h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
    border-bottom: 2px solid #2a9fdc;
    display: inline-block;
    padding-bottom: 0.5rem;
}
.section h1 {
    font-size: 2.3rem;
    color: #ffffff;
    margin: 0.1rem auto;
    border-bottom: 2px solid #2a9fdc;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.video-section {
  position: relative;
  width: 100%;
  max-width: 70%;
  margin: 2rem auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  aspect-ratio: 16 / 9;
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video-overlay {
  position: absolute;
  top: 72%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 16px;
  z-index: 2;
  max-width: 90%;

}

.video-overlay h2 {
  font-size: 2.5vw;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color:#2a9fdc;
}

.video-overlay p {
  font-size: 1.5vw;
  margin: 0.2rem 0;
  font-weight: bold;
}

.video-overlay .registration-info {
  font-size: 1.2vw;
  margin-top: 1rem;
  font-weight: 500;
}

.registration-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background-color: #2a9fdc;
  color: white;
  font-size: 1.1vw;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  z-index: 3;
  position: relative;
}

.registration-btn:hover {
  background-color: #1c7cb0;
}

.intro-text {
    text-align: justify;
}

.highlights, .stats, .organizers, .themes, .partners {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

.highlight, .stat, .org-box, .theme-box, .partner-box {
    flex: 1 1 200px;
    background-color: #d1d1d1;
    color: #000000;
    padding: 1.5rem;
    border-left: 5px solid #2a9fdc;
    border-radius: 10px;
    box-sizing: border-box;
}

.highlight h3, .stat h3, .org-box h3, .theme-box h3, .partner-box h3 {
    margin-top: 0;
    color: #000000; 
    font-size: 1.25rem;
}

.highlight p {
    text-align: left;
}

.org-box p {
    text-align: justify;
}

.category-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem 0;
}

.card {
  background-color: #1f1f1f;
  border-radius: 16px;
  flex: 1 1 300px; 
  max-width: 400px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
  max-width: 100%;

}

.card-header img {
  width: 50px;
  height: auto;
}

.card-header h3 {
  font-size: 2rem;
  margin: 0;
  color: #ffffff;
}

.card p {
  font-size: 0.95rem;
  color: #d1d1d1;
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: bold;
}

.card .main-image {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.software .card-header h3 {
  color: #ffec09;
}

.hardware .card-header h3 {
  color: #13aa4c;
}

.ai .card-header h3 {
  color: #279dd8;
}


.mentors {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.mentor-card {
  background-color: #1f1f1f;
  border-radius: 16px;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  max-width: 250px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.mentor-card:hover {
  transform: translateY(-5px);
}

.mentor-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 1rem;
  object-fit: cover;
}

.mentor-card h3 {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.mentor-card p {
  color: #d1d1d1;
  font-size: 0.95rem;
  line-height: 1.5;
}

.mentor-cta {
  text-align: center;
  margin-top: 3rem;
}

.mentor-cta p {
  font-size: 1.1rem;
  color: #ffffff;
}

.mentor-cta .cta-button {
  display: inline-block;
  background-color: #2a9fdc;
  color: #ffffff;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  margin-left: 0.5rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.mentor-cta .cta-button:hover {
  background-color: #1e8bc3;
  transform: translateY(-2px);
}


#partnerzy {
  margin: 0 auto;
}

#partnerzy h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: #ffffff;
}

.partner-category {
  margin-bottom: 3rem;
}

.partner-category h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #2a9fdc;
  text-align: center;
}

.partner-desc {
  text-align: center;
  color: #d1d1d1;
  font-size: 0.8rem;
  max-width: 800px;
  margin: 1rem auto 0 auto;
  line-height: 1.5;
}

.partner-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 0;
}

.partner-card {
  background-color: #ffffff;
  border: 1px solid #cfd8dc; 
  border-radius: 12px;
  padding: 2rem;
  width: 150px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main_sponsor {
  width: 400px;
  height: 320px;
}

.strategic_partner {
  width: 400px;
  height: 320px;
}

.event_partner {
    width: 200px;
    height: 160px; 
}

.partner-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.partner-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.partner-intro {
  background-color: #121212;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.partner-intro h2 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.partner-intro p {
  color: #d1d1d1;
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0.5rem 0;
}

.partner-intro .cta {
  margin-top: 1.5rem;
  font-size: 1.15rem;
}

.sponsor-btn {
  display: inline-block;
  background-color: #2a9fdc;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  margin-top: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.sponsor-btn:hover {
  background-color: #1b7bb2;
}


.site-footer {
  background-color: #121212;
  color: #ffffff;
  padding: 2rem 1rem 1rem 1rem;
  font-size: 0.95rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #2a9fdc;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
}

.footer-column a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-column a:hover {
  color: #2a9fdc;
}

.social-icons a img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: transform 0.2s ease;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid #444;
  padding-top: 1rem;
  font-size: 0.85rem;
  color: #aaaaaa;
}

.logo-column {
  flex: 1 1 100px;
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 150px;
  margin-top: 0.5rem;
}



.faq-container {
  max-width: 800px;
  border-radius: 16px;
  padding: 30px;
  background: #1a1a1a; /* ciemne tło */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  color: #fff;
  margin: 2rem auto;
}

.faq-item {
  border-bottom: 1px solid #333;
  padding: 16px 0;
}

.faq-item:first-child {
  padding-top: 0px; 
}

.faq-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.faq-question {
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  transition: color 0.3s ease;
}

.faq-question:hover {
  color: #2a9fdc; /* niebieski akcent */
}

.faq-toggle {
  font-size: 24px;
  color: #2a9fdc; /* różowy akcent */
  transition: transform 0.3s ease;
}

.faq-toggle.rotate {
  transform: rotate(180deg);
}

.faq-answer {
  overflow: hidden;
  height: 0;
  transition: height 0.6s ease;
  font-size: 1rem;
  color: #ccc;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.org-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 2rem;
  justify-content: space-around;

}


.org-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.org-logo {
  max-width: 200px;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.org-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: nowrap; 
  padding: 16px 0;
}

.org-projects a {
    width: 30%;
}

.org-project-logo {
  flex: 1 1 0; 
  max-width: 160px; 
  min-width: 100px;  
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.org-project-logo:hover {
  transform: scale(1.05);
}

a img.org-logo:hover {
  opacity: 0.85;
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.best-photo a {
    width: 50%;
}

.org-photo {
  max-width: 400px;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 10px;

}

a img.org-photo:hover {
  opacity: 0.85;
  transform: scale(1.02);
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .video-overlay {
        top: 58%;
        left: 25%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        padding: 0.5rem;
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .video-overlay h2 {
        font-size: 3.2vw;
        margin-bottom: 0rem;
        margin-top: 0;
    }

    .video-overlay p {
        font-size: 2.2vw;
        margin: 0.2rem 0;
    }

    .video-overlay .registration-info {
        font-size: 1.6vw;
        margin-top: 0.5rem;
    }
    
    .registration-btn {
        display: inline-block;
        margin-top: 0.1rem;
        padding: 0.3rem 0.5rem;
        background-color: #2a9fdc;
        color: white;
        font-size: 1.1vw;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        z-index: 3;
        position: relative;
    }

    .org-logos {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .org-photo {
        max-width: 90%;
    }

    .org-logo {
        max-width: 140px;
    }

    .org-projects {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    .org-project-logo {
        max-width: 80px;
        min-width: 60px;
    }

    .section h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    .org-box {
        padding: 1rem;
        font-size: small;
        text-align: left;
    }

    .org-box p {
        text-align: left;
    }

    .footer-content {
        flex-direction: column;
    }
    
}


